@import "tailwindcss";

/* enable class-based dark mode */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --animate-float: float 5s ease-in-out infinite;
  --animate-spin-slow: spin-slow 14s linear infinite;
  --animate-blob: blob 8s infinite;

  @keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-15px); }
    100% { transform: translateY(0px); }
  }

  @keyframes spin-slow {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }

  @keyframes blob {
    0% { transform: translate(0px, 0px) scale(1); }
    33% { transform: translate(30px, -50px) scale(1.1); }
    66% { transform: translate(-20px, 20px) scale(0.9); }
    100% { transform: translate(0px, 0px) scale(1); }
  }
}
@plugin "@tailwindcss/typography";
